.parent {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;
}

.pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 10px 10px 30px 30px;
    -fx-border-radius: 10px 10px 30px 30px;
}

.pane1 {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C1C1C1;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
}

.banVe_card {
    -fx-background-color: linear-gradient(to right, #1a3384, #2b49b3);
    -fx-background-radius: 10px;
}

.huyVe_card {
    -fx-background-color: linear-gradient(to right, #ff0000, #ff4d4d);
    -fx-background-radius: 10px;
}

.doiVe_card {
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 10px;
}

.doanhThu_panel {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-font-size: 14px;
}

#btn_search {
    -fx-background-color: darkblue;
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
}

.text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-font-size: 14px;
    -fx-border-color: transparent transparent #C1C1C1 transparent;
}

.tbl_col{
    -fx-alignment: CENTER-LEFT;
    -fx-font-size: 14px;
}